<%= simple_form_for(@property, html: {multipart: true}) do |f| %>
  <div class="form-group">
    <%= f.input :address, :input_html =>{:id => 'gmaps-input-address'}, :placeholder => 'Start typing a place...', required: true  %>
  </div>
  <div class="form-group">
    <%= f.input :price, required: true %>
  </div>
  <div class="form-group">
    <%= f.input :description, required: true %>
  </div>
  <div class="form-group">
    <%= f.input :key_features, :collection => Feature.all, input_html: { multiple: true } %>
  </div>
  <div class="form-group">
    <label for="photos">Property photos</label>
    <%= simple_fields_for @photo do |o| %>
      <%= o.input :image, as: :file, input_html: {multiple: true, id: "photos"} %>
    <% end %>
  </div>
  <div class="form-group">
    <label for="floor-plan">Floor plans</label>
    <%= simple_fields_for @floor_plan do |o| %>
      <%= o.input :image, as: :file, input_html: {multiple: true, id: "floor-plan"} %>
    <% end %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
