<div class="container text-center">
  <h2 class="text-center">Properties list</h2>
  <%= link_to 'Add Property', new_property_path, class: 'btn btn-primary' %>
  <% @properties.each do |p| %>
    <div class="row">
      <div class="col-md-6">
      <div class="row">
        <div class="col-md-2">
          <h3 class="bold lead"><strong>Description:</strong></h3>
        </div>
        <div class="col-md-10">
          <h3 class="lead"><%= p.description %></h3>
        </div>
        <div class="col-md-2">
          <h3 class="bold lead"><strong>Price:</strong></h3>
        </div>
        <div class="col-md-10">
          <h3 class="lead"><%= number_to_currency(p.price) %></h3>
        </div>
        <div class="col-md-4">
          <%= link_to 'See details', property_path(p) %>
        </div>
      </div>
      </div>
      <div class="col-md-6">
        <%= image_tag Faker::Avatar.image, class: 'img_responsive', style: "height: 300px;" %>
      </div>
    </div>
  <% end %>
  <%= paginate @properties %>
</div>
