<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#images">Images</a></li>
    <li><a data-toggle="tab" href="#key-features">Key Features</a></li>
    <li><a data-toggle="tab" href="#floor-plan">Floor Plan</a></li>
    <li><a data-toggle="tab" href="#map">Map</a></li>
  </ul>

  <div class="tab-content">
    <div id="images" class="tab-pane fade in ">
      <h3>Property Photos</h3>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @property.photos.each do |photo| %>
          <div class="item">
            <%= image_tag Faker::Avatar.image, class: 'img-responsive' %>
          </div>
          <% end %>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div id="key-features" class="tab-pane fade">
      <h3>Key Features</h3>
      <ul>
      <% @property.features.each do |feature| %>
        <li class="lead">
          <%= feature.title %>
        </li>
      <% end %>
      </ul>
    </div>
    <div id="floor-plan" class="tab-pane fade in">
      <h3>Floor Plan</h3>
      <% @property.floor_plans.each do |photo| %>
        <%= image_tag Faker::Avatar.image, class: 'img-responsive' %>
      <% end %>
      </div>

    <div id="map" class="tab-pane fade">
      <h3>Map View</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10167.209455195305!2d30.479902250000002!3d50.4261538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sru!4v1488206553350" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>
  </div>
</div>
