<!DOCTYPE html>
<html>
  <head>
    <title>PropertyListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyGFo6FC9QDVmr4Eg9trsgZFj9CXFlSiA" type="text/javascript"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyCyGFo6FC9QDVmr4Eg9trsgZFj9CXFlSiA"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <% if current_user %>
            <p class="navbar-text navbar-right">Welcome, <%= current_user.name %>!</p>
            <%= link_to "Sign Out", signout_path, method: :delete, class: 'navbar-brand' %>
          <% else %>
            <a class="navbar-brand" href="/auth/twitter">Sign in with Twitter</a>
          <% end %>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <%= yield %>
  </body>
</html>
